.about__masters {
  padding: 1.25rem;
}

.about__masters-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.about__masters-filters__input {
  padding: 0.5rem 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}

.about__masters-masters {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 1.25rem;
}

.about__masters-masters__card {
  background-color: #f5f5f5;
  padding: 1.25rem 3rem;
  border-radius: 0.5rem;
}

.about__masters-masters__card-title {
  margin-bottom: 0.75rem;
}

.about__masters-masters__card-info {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}