.about-schedule {
  margin: 1rem;
}

.about-schedule__table {
  margin-top: 1rem;
}

.about-schedule__table .table__row:nth-of-type(odd) {
  background-color: #f9d9ee;
}

.about-schedule__table .table__header {
  background-color: #f97878;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
