.services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: calc(100% - 4rem);
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-transform: capitalize;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
}

button.active {
  background-color: #ccc;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.service {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

.service h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service p {
  margin-bottom: 5px;
}

.service strong {
  font-weight: bold;
}
